#
# Near Field Communication (NFC) devices
#


config NXP_NFC_I2C
	tristate "QTI NCI based NFC Controller Driver for NQx"
	help
	  This enables the NFC driver for NQx based devices.
	  This is for i2c connected version. NCI protocol logic
	  resides in the usermode and it has no other NFC dependencies.

config NXP_NFC_SPI
	tristate "QTI NCI based NFC Controller Driver for NQx"
	help
	  This enables the NFC driver for NQx based devices.
	  This is for spi connected version. NCI protocol logic
	  resides in the usermode and it has no other NFC dependencies.



